/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* <!--//////END CSS RESET//////////////////////////////////////--> */

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: min-content;
  height: min-content;
  background-color: hsl(216, 50%, 16%);
  color: hsl(215, 51%, 70%);
  border-radius: 5%;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 0rem 1rem 0.5rem 1.5rem rgba(4, 4, 36, 0.6);
  /* 1rem -1rem 1rem 1rem rgba(4, 4, 36, 0.6); */
}

.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.balance_timer {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.balance_timer #balance {
  color: hsl(178, 100%, 50%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-right: 7rem;
}

#timer {
  display: flex;
  align-items: flex-end;
}

#equilibrium {
  display: block;
  width: 20rem;
  border-radius: 5%;
  transition: 0.2s;
  margin-top: 1rem;
}

#equilibrium:hover {
  cursor: pointer;
}

#equilibrium-active {
  position: absolute;
  height: 3rem;
  width: 3rem;
  padding-left: 8.5rem;
  padding-top: 10rem;
  opacity: 0;
}

#equilibrium-container:hover #equilibrium-active {
  opacity: 1;
  cursor: pointer;
}

#equilibrium-container:hover #equilibrium {
  opacity: 0.2;
}

h1 {
  color: hsl(0, 0%, 100%);
  transition: 0.2s;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 10.9rem;
}

h1:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.attribution {
  padding-top: 2rem;
}

.creation {
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.creation a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  padding-left: 0.5rem;
  padding-right: 3rem;
}

.creation a:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

#jules {
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  margin: 1rem 1rem 1rem -1rem;
}

@media (max-width: 375px) {
  body {
    width: fit-content;
  }
}
